{% extends 'base.html.twig' %}

{% block title %} {{ship.name}}{% endblock %}
{% block body %}
<h1>{{ship.name}}</h1>
<div>
  <table>
  <tr>
    <th><a href="{{path('app_homepage')}}">Name</a></th>
    <td>{{ship.name}}</td>
  </tr>
  <tr>
    <th>Class</th>
    <td>{{ship.class|upper}}</td>
  </tr>
  <tr>
    <th>Captain</th>
    <td>{{ship.captain}}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{ship.statusString}}</td>
  </tr>
  <tr>
    <th>Image</th>
    <td><img src="{{ asset(ship.statusImageFilename)}}" class="h-32 w-32 object-contain" /></td>
  </tr>
  </table>
</div>
{% endblock %}